* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 nav {
  width: 100%;
  height: 80px;
  background: hwb(0 96% 2%);
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 0 15px;
  color: hsl(207, 82%, 68%);
  box-shadow: 2px 2px 3px gray;  
}

.custom-h4 {
  color: hsla(213, 9%, 44%, 0.527); 
  text-shadow: 2px 1px 1px rgba(4, 4, 19, 0.603);
}

 .container-fluid1 { 
  height: 5vh; 
  padding: 5px 0px 5px 20px ;
} 

.container-fluid { 
  background-image: url("book.webp"); 
  height: 100vh; 
  width: 100%; 
  padding: 10px;
  background-size: cover; 
  background-position:center; 
}
 
.button-container button {
  margin: 5px; 
  padding: 5px 15px; 
  border: 1px solid hsl(210, 40%, 98%); 
  background-color:hsl(200, 80%, 50%);
  color: #fdfdfd; 
}

.vertical-menu {
  width: 250px;
  height: 400px;
  overflow-y: auto;
  margin-left: 82%;
  margin-top: -32%;
  border-radius: 2px;
}

.custom-button {
  width: 100%; /* Set your desired width */
}


.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color:hsl(200, 80%, 50%);
  color: white;
}

#btnGroupDrop1{
  border-radius: none;
}

.form-container {
  background-color: rgb(185, 222, 253);
  border: 2px solid hsl(0, 9%, 96%);
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

label {
  font-weight: bold;
}

input {
  padding: 2px;
  border: 1px solid hsl(0, 9%, 80%);
  border-radius: 3px;
}

button {
  padding: px;
  background-color: hsl(200, 80%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(200, 80%, 40%);
}


