.table {
    width: 100%;
    border-collapse: collapse;
  } 
  .th, td {
    padding: 10px;
    border: 1px solid #dee2e6;
  }
  input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
  }
  input[type="checkbox"] {
    margin: 0;
  }


.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}